@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

fready-block{
  /* .reset-this { */
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
/* } */

  user-select:none;
  transition: all .5 ease;
  /* display: none; */
  font-family: 'Inter', sans-serif !important;
  /* background: #2B6CCE;  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  border-radius: 10px 0px 7px 13px;
  width: 200px; 
  height: 50px; 
  position:fixed; 
  top:0; 
  right:0; 
  padding:10px; 
  z-index:96969696969; 
  backdrop-filter: blur(10px);
  margin: 20px;
  margin-top: 0;
  background: rgba(247, 247, 247, 0.829);
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
  text-align: center;

}

fready a{
  all: initial;
  cursor: pointer;
}

fready-button {
  transition: all .5 ease;
  all: revert;
  font-family: Roboto;
  letter-spacing: 1.4px;
  background-color: #2B6CCE;
  border: 2px solid rgb(38, 93, 182);
  border-radius: 4px;
  box-shadow: -0px 0px 8px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 2px;
  /* line-height: 20px; */
}

fready-button:hover{
  background-color: rgb(38, 92, 173);
  border: 2px solid rgb(38, 93, 182);
  box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.20);
  color: white;
}

fready .ghost{
  background-color: #ececec !important;
  color: #404044;
  border-color: #e4e4e4;
}
fready .ghost:hover{
  background-color: rgb(116, 116, 116);
  border-color: #e4e4e4 !important;
  color: #404044;
}

fready .inline{
  display: inline-block;
}

fready .inactive{
  background-color: transparent !important;
  box-shadow: none;
  color: gray !important;
  border: 2px solid transparent;
}

fready .inactive:hover{
  background-color: lightblue;
  border: 2px solid rgb(141, 141, 141);
  color: black;
}

fready .exit{
  background-color: transparent;
  color: #2B6CCE;
  border: 2px solid transparent;
}

fready .meta{
  font-size: 8px;
  font-family: 'Inter';
  color: gray;
}

fready #freadyhidebutton{
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  right: 3px;
  padding: 5px;
  width: 22px;
  opacity: 0;
}

fready #freadyhidebigbutton{
  z-index: -1;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* cursor: n-resize; */
}

fready #fready_home{
  /* display: none; */
  /* margin-top: 10px; */
  position: relative !important;
  width: 15px !important;
  height: 14px !important;
  padding: 4px !important;
  border-right: 2px solid gainsboro !important;
  margin-right: 3px !important;
  cursor: pointer;
}

fready-x{
  /* background-color: red; */
  width: 25px;
  height: 25px;
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 999999999999999;
  border-radius: 10000px;
  opacity: .3;
  padding: 10px;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
fready-x:hover{
  opacity: .4;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
}

fready-x svg{
  width: 100%;
  height: 100%;
}