@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
/*
 TODO clean this shit up man
 */
fready-block div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{
    font-size: 100%;
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

fready-block table
{
    border-spacing: 0;
    border-collapse: collapse;
}

fready-block th,
td
{
    text-align: left;
    vertical-align: top;
}

fready-block img
{
    border: 0;
}

fready-block{
  box-sizing: content-box !important;
  
  /* .reset-this { */
    
    /* basic modern patch */

/* } */
  user-select:none;
  transition: all .5 ease;
  /* display: none; */
  font-family: 'Inter', sans-serif !important;
  /* background: #2B6CCE;  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  border-radius: 10px 0px 7px 13px;
  width: 200px; 
  height: 50px; 
  position:fixed; 
  top:0; 
  right:0; 
  padding:10px; 
  z-index:96969696969; 
  backdrop-filter: blur(10px);
  margin: 20px;
  margin-top: 0;
  background: #eceeee;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
  font-size: 17px !important;
}

lector {
    width: 100vw;
    height: 100vh;
    background-color: #303030;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9999999999999999999;
    /*left: 0;*/
}
lector #screen-bg{
    z-index: -1;
    background-color: #404040;
    width: 100%;
    height: 100%;
    position: absolute;
}
lector #freadysscreen{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

fready a{
  all: initial;
  cursor: pointer;
}

fready-button {
  transition: all .5 ease;
  all: revert;
  font-family: Roboto;
  letter-spacing: 1.4px;
  background-color: #2B6CCE;
  border-radius: 4px;
  box-shadow: -0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 1px;
  /* line-height: 20px; */
}

fready-button:hover{
  background-color: #2773e4;
  box-shadow: -0px 0px 8px rgba(0, 0, 0, 0.30);
  color: white;
}

fready .x-fready-ghost{
  background-color: #ececec !important;
  color: #404044;

}
fready .x-fready-ghost:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

fready .x-fready-inline{
  display: inline-block;
}

fready .x-fready-inactive{
  background-color: transparent !important;
  box-shadow: none;
  color: gray !important;
}

fready .x-fready-inactive:hover{
  color: #2B6CCE !important;
  /* border: none !important; */
}

fready .x-fready-exit{
  background-color: transparent;
  color: #2B6CCE;
}

fready .x-fready-meta{
  font-size: 8px;
  font-family: 'Inter';
  color: rgba(128, 128, 128, 0.63);
}

fready #freadyhidebutton{
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  right: 3px;
  padding: 5px;
  width: 22px;
  opacity: 0;
}

fready #freadyhidebigbutton{
  z-index: -1;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* cursor: n-resize; */
}
svg{
    revert: all;
  }

fready #fready_home{
  /* display: none; */
  /* margin-top: 10px; */
  position: relative !important;
  width: 15px !important;
  height: 14px !important;
  padding: 4px !important;
  border-right: 2px solid gainsboro !important;
  margin-right: 3px !important;
  cursor: pointer;
}


fready-x{
  box-sizing: content-box !important;
  user-select:none;

  /* background-color: red; */
  background-color: #404040;
  width: 25px;
  height: 25px;
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 999999999999999;
  border-radius: 10000px;
  opacity: .25;
  padding: 10px;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
fready-x:hover{
  opacity: .8;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
}


fready-x svg{
  vertical-align: baseline;
  height: 100%;
  width: 100%;
}

.fready-art-locator{
}

.tippy-box[data-theme~='fready'] {
    font-family: Inter !important;
    user-select: none;
    background-color: transparent;

}  
fready-alma{
    background-color: white;
    color: gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
    cursor: pointer;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

fready-alma svg{
    height: 1.2em;
    display: flex;
    padding-right: .9em;
}
fready-alma #fready-alma-eta{
    position: relative;
    left: 0em;
    width: 2em;
    height: 1em;
    padding-left: .6em;
    padding-right: .6em;
    margin-right: 1em;
    color: #2b6cce;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    white-space: nowrap;
    
}
/* 
svg {
  width: 100%;
  height: 100%;
  vertical-align: top !important;
} */

