fready-block{
  all: initial;
  user-select:none;
  transition: all .5 ease;
  /* display: none; */
  font-family: 'Open Sans', sans-serif;
  /* background: #2B6CCE;  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  border-radius: 10px 0px 7px 13px;
  width: 200px; 
  height: 50px; 
  position:fixed; 
  top:0; 
  right:0; 
  padding:10px; 
  z-index:96969696969; 
  backdrop-filter: blur(10px);
  margin: 20px;
  margin-top: 0;
  background: rgba(247, 247, 247, 0.829);
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
}

fready a{
  all: initial;
  cursor: pointer;
}

fready-button {
  transition: all .5 ease;
  all: revert;
  font-family: Roboto;
  letter-spacing: 1.4px;
  background-color: #2B6CCE;
  border: 2px solid rgb(38, 93, 182);
  border-radius: 4px;
  box-shadow: -0px 0px 8px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 2px;
  /* line-height: 20px; */
}

fready-button:hover{
  background-color: rgb(38, 92, 173);
  border: 2px solid rgb(38, 93, 182);
  box-shadow: -0px 0px 15px rgba(0, 0, 0, 0.20);
  color: white;
}

fready .ghost{
  background-color: #ececec !important;
  color: #404044;
  border-color: #e4e4e4;
}
fready .ghost:hover{
  background-color: rgb(116, 116, 116);
  border-color: #e4e4e4 !important;
  color: #404044;
}

fready .inline{
  display: inline-block;
}

fready .inactive{
  background-color: transparent !important;
  box-shadow: none;
  color: gray !important;
  border: 2px solid transparent;
}

fready .inactive:hover{
  background-color: lightblue;
  border: 2px solid rgb(141, 141, 141);
  color: black;
}

fready .exit{
  background-color: transparent;
  color: #2B6CCE;
  border: 2px solid transparent;
}

fready .meta{
  font-size: 8px;
  font-family: 'Open Sans';
  color: gray;
}

fready #freadyhidebutton{
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  right: 3px;
  padding: 5px;
  width: 22px;
}

fready #freadyhidebigbutton{
  z-index: -1;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* cursor: n-resize; */
}

fready #fready_home{
  /* display: none; */
  /* margin-top: 10px; */
  position: relative;
  width: 15px;
  height: 14px;
  padding: 4px;
  border-right: 2px solid gainsboro;
  margin-right: 3px;
  cursor: pointer;
}